<mat-card>
  <div class="carousel">
    <mat-card>
      <a class="carousel-item" href="#1"><img src="../../assets/COLLECT.png"></a>
    </mat-card>
    <mat-card>
      <a class="carousel-item" href="#2"><img src="../../assets/CONNECT.png"></a>
    </mat-card>
    <mat-card>
      <a class="carousel-item" href="#3"><img src="../../assets/GET-PAID.png"></a>
    </mat-card>
    <mat-card>
      <a class="carousel-item" href="#4"><img src="../../assets/HOW-IT-WORKS.png"></a>
    </mat-card>
    <mat-card>
      <a class="carousel-item" href="#5"><img src="../../assets/NO-FAKES.png"></a>
    </mat-card>
   <mat-card>
    <a class="carousel-item" href="#6"><img src="../../assets/Rent-or-Sell.png"></a>
   </mat-card>
   <mat-card>
    <a class="carousel-item" href="#7"><img src="../../assets/REQUEST-IT.png"></a>
   </mat-card>
  </div>
</mat-card>
  
  
 